*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps
*.dirstamp
.\#*
\#*
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
*.sbr
*.ilk
*.bsc
*.pch
*.opensdf
*.tar
*.gz
*.tgz
*.xz
*.bz2
*.tbz2
*.deb
*.swp
*.serial
*.sdf

/All/
Debug/
/bin/
Release/
/ipch/
/*.log

*.suo
*.sdf
x64/
ipch/


/w32/Setup/obj
*dSYM*

/UpgradeLog.*
/_UpgradeReport_Files/
*.aps

.vs/

*.VC.db
*.VC.VC.opendb
libs/freetype/
libs/libpng/
libs/zlib/


Win32/*.msi
x64/*.msi